{
  "$schema": "./env.schema.json",
  "ADMIN_EMAIL_ADDRESS" : "admin@example.com",
  "ADMIN_EMAIL_NAME": "ADMINISTRATOR",
  "DB_DSN": "mysql:host=localhost:3306;dbname=DUMMY",
  "DB_PASS": "DUMMY",
  "DB_USER": "DUMMY",
  "ENCRYPT_PASS" : "buFdPuGNT*4qDnz8",
  "GOOGLE_RECAPTCHA_SECRET_KEY": "DUMMY",
  "GOOGLE_RECAPTCHA_SITE_KEY": "DUMMY",
  "MEMCACHED_SERVERS": "mem1.domain.com:11211:33,mem2.domain.com:11211:67",
  "NOTIFIER_EMAIL_ADDRESS": "noreply@example.com",
  "NOTIFIER_EMAIL_NAME": "BEAR.Sunday NOTIFICATION",
  "SMTP_HOST" : "DUMMY",
  "SMTP_OPTION" : "",
  "SMTP_PASS" : "DUMMY",
  "SMTP_PORT" : "465",
  "SMTP_USER" : "DUMMY",
  "WEBSITE_URL": "https://www.example.com"
}
